{
    "env": {
        "es6": true,
        // "commonjs": true,
        "browser": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2015 //ES6
    },
    "extends": [
        //"airbnb-base", // Bit more strict than 'eslint:recommended'
        "eslint:recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript"
    ]
}